html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.item {
  padding: 5px;
}

.hidden {
  visibility: hidden;
}

button+button {
  margin-left: 5px;
}

.stream-section {
  position: relative;
  margin-top: 5px;
  display: flex;
  height: 50vh;
  width: 100%;
}


/* 
 * TIP:
 * 渲染视频的view要撑开空间和父元素一样大小
*/
#local-view, #remote-view, #living-player {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
